<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      th:fragment="layout(title,content)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Tập ghi chú</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Thêm favicon -->
    <link rel="icon" href="/favicon_io/android-chrome-192x192.png" type="image/x-icon">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark custom-blue">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="fa-solid fa-book"></i> Note</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/"><i
                        class="fa-solid fa-house"></i> Trang chủ</a></li>

                <th:block th:if="${user!=NULL}">
                    <li class="nav-item"><a class="nav-link" href="addNotes"><i class="fa-solid fa-plus"></i> Thêm </a></li>
                    <li class="nav-item"><a class="nav-link" href="viewNotes"><i class="fa-solid fa-list"></i> Xem</a></li>
                </th:block>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <th:block th:if="${user==NULL}">
                    <li class="nav-item"><a href="register" class="btn btn-sm btn-primary"><i class="fa-solid fa-user-plus"></i> Đăng ký</a></li>
                    <li class="nav-item"><a href="signin" class="btn btn-sm btn-primary ms-2"><i class="fa-solid fa-right-to-bracket"></i> Đăng nhập</a></li>
                </th:block>

                <th:block th:if="${user!=NULL}">
                    <li class="nav-item"><a href="#" class="btn btn-sm btn-primary"><i class="fa-solid fa-user"></i> [[${user.name}]]</a></li>
                    <li class="nav-item"><a href="/logout" class="btn btn-sm btn-primary ms-2"><i class="fa-solid fa-right-from-bracket"></i> Thoát ra</a></li>
                </th:block>
            </ul>
        </div>
    </div>
</nav>

<div th:replace="${content}"></div>

<footer class="custom-blue text-white text-center py-3 mt-4" style="margin-top:250px">
    <div class="container">
        <p class="mb-0">&copy; 2024 Ghi chú | Designed with <i class="fa-solid fa-heart text-danger "></i> by You</p>
        <a href="https://facebook.com" class="text-white mx-2"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://twitter.com" class="text-white mx-2"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://github.com" class="text-white mx-2"><i class="fa-brands fa-github"></i></a>
    </div>
</footer>


<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>
</body>
</html>