<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="~{ base :: layout(~{::title}, ~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Trang Chủ</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<section class="index-section">
    <div class="container-fluid p-0 m-0">
<!--        <img alt="Image" src="/img/pngtree-fresh-notes-notes-pencil-record-image_2292061.jpg" class="img-fluid index-img" >-->
        <div class="text-overlay">
            <h1 class="main-title">Chào mừng đến với E-Notes</h1>
            <p class="subtitle">Nơi để bạn sắp xếp suy nghĩ và ý tưởng của mình!</p>

        </div>
    </div>
</section>
</body>
</html>
